.doc_image img {
  display: block;
  margin-inline: auto;
}

.doc_image span {
  display: block;
  text-align: center;

  color: var(--ifm-color-gray-600);
  font-weight: var(--ifm-font-weight-semibold);
  font-style: italic;
  font-size: small;
  margin-block: 0.5rem 1rem;
}
